Repository kittinap/kunnjae, changes with the owners that CODEOWNERS names for each.
All owners: @dannyvv, @smera, @SergeyTeplyakov, @almiliMSFT, @Kr1sso, @dcwuser, @JuanCarlosGI, @kewilli, @ljcollins25, @thpha, @narasamdya

Switch Nuget feeds from pkgs.visualstudio.com to dev.azure.com (#160)
  Private/InternalSdk/QTestSample/config.dsc
  Private/macOS/publish-buildxl-runtime.sh
  Public/Src/Cache/MemoizationStore/Samples/NuGet.Config
  Public/Src/Cache/Script/GetNugetExe.ps1
  Public/Src/Cache/Script/NetCore/Push.cmd
  Public/Src/Explorer/App/BuildXL.Explorer.App.dsc
  Shared/Scripts/BuildXLLkgVersion.cmd
  Shared/Scripts/PublishDevLkg.cmd
  config.dsc
Owners: @dannyvv

Downgrade detours heap size logging to diagnostic (#180)
  Public/Src/Engine/Processes/Tracing/Log.cs
Owners: none

Expose weight through to QTest SDK (#179)
  Public/Sdk/Public/Managed/testing.dsc
  Public/Sdk/SelfHost/BuildXL/Testing/QTest/qtestFramework.dsc
  Public/Sdk/SelfHost/BuildXL/Tools/QTest/Tool.QTestRunner.dsc
  Public/Src/Cache/VerticalStore/UnitTests/BasicFilesystem/Test.BuildXL.Cache.BasicFilesystem.dsc
Owners: none

Make Helium infrastructure aware of WCI tombstone files (#165)
  Public/Src/Engine/Processes/Containers/ProcessInContainerManager.cs
  Public/Src/Engine/Processes/SandboxedProcessPipExecutionResult.cs
  Public/Src/Engine/Processes/SandboxedProcessPipExecutor.cs
  Public/Src/Engine/Scheduler/PipExecutor.cs
  Public/Src/Engine/UnitTests/Processes/Containers/ContainerSandboxExecutorIntegrationTests.cs
  Public/Src/Engine/UnitTests/Scheduler.IntegrationTest/Containers/ContainerIntegrationTests.cs
  Public/Src/Utilities/Native/IO/FileUtilities.cs
  Public/Src/Utilities/Native/IO/IFileSystem.cs
  Public/Src/Utilities/Native/IO/Unix/FileSystem.Unix.cs
  Public/Src/Utilities/Native/IO/Windows/FileSystem.Win.cs
  Public/Src/Utilities/UnitTests/Executables/TestProcess/Operation.cs
Owners: @almiliMSFT, @Kr1sso

Remove some dead code from Script resolver (#171)
  Public/Src/FrontEnd/Script/DScriptSourceResolver.cs
Owners: none

New Public LKG 0.1.0-20190419.5
  Shared/Scripts/BuildXLLkgVersionPublic.cmd
Owners: none

Let cloudbuild selfhost build pick up Qtest binary from BuildXL sdk deployment (#181)
  Public/Sdk/SelfHost/BuildXL/Testing/QTest/qtestFramework.dsc
  Public/Sdk/SelfHost/BuildXL/Tools/QTest/Tool.QTestRunner.dsc
Owners: none

Fix the contract assertion for indexing operation in StringTable (#183)
  Public/Src/Utilities/Utilities/StringTable.cs
Owners: none

Exclude paths the cannot be parsed from DFA analysis (#174)
  Public/Src/Engine/Scheduler/FileMonitoringViolationAnalyzer.cs
  Public/Src/Engine/UnitTests/Scheduler/FileMonitoringViolationAnalyzerTests.cs
  Public/Src/Utilities/UnitTests/Storage.Untracked/FileUtilitiesTests.Unsafe.cs
Owners: none

Use exponential back off with key vault. (#172)
  Public/Src/Cache/DistributedCache.Host/Configuration/DistributedContentSettings.cs
  Public/Src/Cache/DistributedCache.Host/Service/Internal/DistributedContentStoreFactory.cs
Owners: none

Use historic cpu usage info as weight (#178)
  Public/Src/App/Bxl/Args.cs
  Public/Src/Engine/Scheduler/Distribution/Worker.cs
  Public/Src/Engine/Scheduler/ProcessRunnablePip.cs
  Public/Src/Engine/Scheduler/RunnablePip.cs
  Public/Src/Engine/Scheduler/Scheduler.cs
  Public/Src/Engine/UnitTests/Scheduler/PipQueueTest.cs
  Public/Src/Pips/Dll/Operations/Process.cs
  Public/Src/Utilities/Configuration/IScheduleConfiguration.cs
  Public/Src/Utilities/Configuration/Mutable/ScheduleConfiguration.cs
Owners: none

Remove unused member (#170)
  Public/Src/FrontEnd/Nuget/NugetResolver.cs
  Public/Src/FrontEnd/Script/DScriptSourceResolver.cs
  Public/Src/FrontEnd/Script/WorkspaceResolvers/ModuleResolutionResult.cs
Owners: none

New Internal LKG 0.1.0-20190419.5
  Shared/Scripts/BuildXLLkgVersion.cmd
Owners: none

Fix path issue under macOS (#169)
  bxl.sh
Owners: none

New Public LKG 0.1.0-20190417.7
  Shared/Scripts/BuildXLLkgVersionPublic.cmd
Owners: none

fix qtest parallelGroups problem (#187)
  Public/Sdk/SelfHost/BuildXL/Testing/QTest/qtestFramework.dsc
  Public/Src/FrontEnd/UnitTests/Script.Ast/Test.BuildXL.FrontEnd.Script.dsc
Owners: none

Make StoreOutputToCache- compatible with rewritten targets of copy and write file (#193)
  Public/Src/Engine/Scheduler/Artifacts/FileContentManager.cs
  Public/Src/Engine/Scheduler/Artifacts/IFileContentManagerHost.cs
  Public/Src/Engine/Scheduler/PipExecutor.cs
  Public/Src/Engine/Scheduler/Scheduler.cs
  Public/Src/Engine/UnitTests/Scheduler.IntegrationTest/StoreNoOutputsToCacheTests.cs
  Public/Src/Engine/UnitTests/Scheduler/PipQueueTest.cs
  Public/Src/Engine/UnitTests/Scheduler/Utils/DummyPipExecutionEnvironment.cs
Owners: none

Cleanup: Usings and headers in pips folder (#189)
  Public/Src/Pips/Dll/Builders/ProcessBuilder.cs
  Public/Src/Pips/Dll/Builders/ResponseFiles.cs
  Public/Src/Pips/Dll/DistributedBuildRole.cs
  Public/Src/Pips/Dll/GlobalSuppressions.cs
  Public/Src/Pips/Dll/IPipGraph.cs
  Public/Src/Pips/Dll/IPipScheduleTraversal.cs
  Public/Src/Pips/Dll/MutablePipState.cs
  Public/Src/Pips/Dll/Operations/Pip.cs
  Public/Src/Pips/Dll/Operations/Process.AbsentPathProbeInUndeclaredOpaquesMode.cs
  Public/Src/Pips/Dll/Operations/ServiceInfo.cs
  Public/Src/Pips/Dll/Operations/ServicePipKind.cs
  Public/Src/Pips/Dll/Operations/WriteFile.cs
  Public/Src/Pips/Dll/PipConstructionHelper.cs
  Public/Src/Pips/Dll/PipExecutionPerformance.cs
  Public/Src/Pips/Dll/PipTable.cs
  Public/Src/Pips/Dll/PipTableSerializationScheduler.cs
  Public/Src/Pips/Dll/SemanticPathExpander.cs
Owners: none

Add serialization to JsonTree and switch PipFingerprintAnalyzer to use (#186)
  Public/Src/Engine/Cache/Serialization/JsonTree.cs
  Public/Src/Engine/Scheduler/Tracing/FingerprintStoreReader.cs
  Public/Src/Engine/UnitTests/Cache/JsonTreeTests.cs
  Public/Src/Tools/Execution.Analyzer/Analyzers.Partner/PipFingerprintAnalyzer.cs
Owners: none

Cleanup: Usings and headers in ide folder (#192)
  Public/Src/IDE/Debugger/BreakpointStore.cs
  Public/Src/IDE/Debugger/CompoundStatementTracker.cs
  Public/Src/IDE/Debugger/DebugServer.cs
  Public/Src/IDE/Debugger/DebugSession.cs
  Public/Src/IDE/Debugger/DebuggerState.cs
  Public/Src/IDE/Debugger/Decorators.cs
  Public/Src/IDE/Debugger/ExpressionEvaluator.cs
  Public/Src/IDE/Debugger/NodeEvalManager.cs
  Public/Src/IDE/Debugger/RemoteDebugger.cs
  Public/Src/IDE/Debugger/Renderer.cs
  Public/Src/IDE/Debugger/RendererAST.cs
  Public/Src/IDE/Debugger/ThreadState.cs
  Public/Src/IDE/Generator/Context.cs
  Public/Src/IDE/Generator/IdeGenerator.cs
  Public/Src/IDE/Generator/MsbuildFile.cs
  Public/Src/IDE/Generator/MsbuildWriter.cs
  Public/Src/IDE/Generator/VcxprojFile.cs
  Public/Src/IDE/VsCode/DebugProtocol/Datatypes/IRequest.cs
  Public/Src/IDE/VsCode/DebugProtocol/GlobalSuppressions.cs
  Public/Src/IDE/VsCode/DebugProtocol/IDebugger.cs
  Public/Src/Pips/Dll/DistributedBuildRole.cs
Owners: none

New Internal LKG 0.1.0-20190423.6
  Shared/Scripts/BuildXLLkgVersion.cmd
Owners: none

Add explanatory comments to Kusto query for SuggestedBugName (#212)
  Shared/Scripts/kusto/functions/AnnotatedSessions.csl
Owners: none

New Internal LKG 0.1.0-20190425.4
  Shared/Scripts/BuildXLLkgVersion.cmd
Owners: none

Fix nuget spec gen to ensure roslyn 3.0 package is not treated like a managed package (#198)
  Public/Src/FrontEnd/Nuget/NugetAnalyzedPackage.cs
Owners: none

New Public LKG 0.1.0-20190423.6
  Shared/Scripts/BuildXLLkgVersionPublic.cmd
Owners: none

Use jsondiffpatch.net for cache miss analysis (#207)
  Public/Src/Engine/Cache/BuildXL.Cache.dsc
  Public/Src/Engine/Cache/Serialization/ChangeList.cs
  Public/Src/Engine/Cache/Serialization/JsonTree.cs
  Public/Src/Engine/Scheduler/Tracing/CacheMissAnalysisUtilities.cs
  Public/Src/Engine/UnitTests/Cache/ChangeListTests.cs
  Public/Src/Engine/UnitTests/Cache/JsonTreeTests.cs
  Public/Src/Tools/UnitTests/Analyzers/FingerprintStoreAnalyzerTests.cs
  config.dsc
Owners: @dannyvv

Stop building most projects under net461
  Public/Sdk/SelfHost/BuildXL/Qualifiers.dsc
  Public/Src/Deployment/privatePackages.dsc
  Public/Src/Engine/Processes/BuildXL.Processes.dsc
  Public/Src/Engine/UnitTests/defaults.dsc
  Public/Src/FrontEnd/MsBuild.Serialization/BuildXL.FrontEnd.MsBuild.Serialization.dsc
  Public/Src/Utilities/Instrumentation/defaults.dsc
  RunCheckInTests.cmd
  config.dsc
Owners: @dannyvv

Fix EventCount telemetry for macOS (#204)
  Public/Src/App/Bxl/BuildXLApp.cs
  Public/Src/App/Bxl/Tracing/Log.cs
  Public/Src/Engine/UnitTests/Processes/FileAccessExplicitReportingTest.cs
  Public/Src/Utilities/Instrumentation/Common/AriaV2StaticState.cs
  Public/Src/Utilities/Native/IO/Unix/FileSystem.Unix.cs
  Public/Src/Utilities/Native/IO/Unix/FileUtilities.Unix.cs
  Shared/Scripts/kusto/PerfSmells.csl
Owners: @almiliMSFT, @Kr1sso

New Public LKG 0.1.0-20190425.4
  Shared/Scripts/BuildXLLkgVersionPublic.cmd
Owners: none

Fix crash when displaying miss reason for mount changing (#210)
  Public/Src/Engine/Dll/Tracing/Log.cs
  Public/Src/Engine/UnitTests/Engine/EngineTests.cs
Owners: none

Cleanup: Usings and headers in app folder (#195)
  Public/Src/App/Bxl/AppServer.cs
  Public/Src/App/Bxl/Args.cs
  Public/Src/App/Bxl/BuildInfo.cs
  Public/Src/App/Bxl/BuildXLApp.cs
  Public/Src/App/Bxl/ConsoleEventListener.cs
  Public/Src/App/Bxl/FrontEndControllerFactory.cs
  Public/Src/App/Bxl/HelpText.cs
  Public/Src/App/Bxl/Program.cs
  Public/Src/App/Bxl/Tracing/Log.cs
  Public/Src/App/Bxl/Tracing/LoggingQueue.cs
Owners: none

Pipe through buffer size for GRPC file copies (#175)
  Public/Src/Cache/ContentStore/App/Application.cs
  Public/Src/Cache/ContentStore/App/DistributedService.cs
  Public/Src/Cache/ContentStore/Library/Service/Grpc/GrpcContentServer.cs
  Public/Src/Cache/ContentStore/Library/Service/LocalContentServer.cs
  Public/Src/Cache/ContentStore/Library/Service/LocalServerConfiguration.cs
  Public/Src/Cache/ContentStore/Library/Service/ServiceConfiguration.cs
  Public/Src/Cache/ContentStore/Test/Service/ServiceConfigurationTests.cs
  Public/Src/Cache/DistributedCache.Host/Configuration/LocalCasServiceSettings.cs
  Public/Src/Cache/DistributedCache.Host/Service/Internal/ContentServerFactory.cs
Owners: none

Add lazy directory materialization for IPC pips (#206)
  Public/Sdk/Public/Transformers/Transformer.Ipc.dsc
  Public/Sdk/UnitTests/Transformers/Test.ipcSend.dsc
  Public/Sdk/UnitTests/Transformers/Test.ipcSend/fullIpcSend.lkg
  Public/Src/Engine/Scheduler/CacheablePipInfo.cs
  Public/Src/FrontEnd/Script/Ambients/Transformers/AmbientTransformer.Ipc.cs
  Public/Src/FrontEnd/SdkTesting/Helper/TestPipPrinter.cs
  Public/Src/Pips/Dll/Artifacts/PipArtifacts.cs
  Public/Src/Pips/Dll/Operations/IpcPip.cs
  Public/Src/Pips/Dll/PipConstructionHelper.cs
  Public/Src/Tools/DropDaemon/Tool.DropDaemonRunner.dsc
  Public/Src/Tools/Execution.Analyzer/Analyzers.Partner/DumpPipAnalyzer.cs
  Public/Src/Utilities/Utilities/BuildXLReader.cs
  Public/Src/Utilities/Utilities/BuildXLWriter.cs
Owners: none

Fix InterpretImportFileWithAbsolutePath unit test on macOS (#199)
  Public/Src/FrontEnd/Script/ConfigurationProcessing/ConfigurationConversionHelper.cs
  Public/Src/FrontEnd/UnitTests/Script.Interpretation/InterpretImports.cs
  Public/Src/Utilities/Native/IO/Unix/FileSystem.Unix.cs
  Public/Src/Utilities/Native/IO/Windows/FileSystem.Win.cs
Owners: @almiliMSFT, @Kr1sso

Use net472 for our drop binaries in the Sdk folder (#200)
  Public/Sdk/SelfHost/BuildXL/deploymentHelpers.dsc
  Public/Src/App/Deployment.InBoxSdks.dsc
  Public/Src/FrontEnd/SdkTesting/TestGenerator/BuildXL.FrontEnd.Script.Testing.TestGenerator.dsc
  Public/Src/Tools/DropDaemon/DropDaemon.exe.config
  Public/Src/Utilities/UnitTests/Executables/TestProcess/Test.BuildXL.Executables.TestProcess.dsc
Owners: none

Update Microsft.Net.Compilers(Roslyn) to 3.0.0 to enable C#/CSharp 8 features (#197)
  Public/Src/Engine/UnitTests/Engine/LazyMaterializationBuildTests.cs
  Public/Src/Engine/UnitTests/Engine/MiniBuild.cs
  Public/Src/Engine/UnitTests/Engine/Test.BuildXL.Engine.dsc
  config.dsc
Owners: @dannyvv

New Public LKG 0.1.0-20190426.9
  Shared/Scripts/BuildXLLkgVersionPublic.cmd
Owners: none

[MacOS] Add default source seal directories lazily (#218)
  Public/Src/Engine/Dll/DisallowedGraph.cs
  Public/Src/Engine/Scheduler/Graph/PatchablePipGraph.cs
  Public/Src/Engine/Scheduler/Graph/PipGraph.Builder.cs
  Public/Src/Engine/Scheduler/Graph/PipGraph.MacOsDefaults.cs
  Public/Src/Engine/Scheduler/Graph/PipGraph.WindowsDefaults.cs
  Public/Src/Engine/UnitTests/EngineTestUtilities/TestEnv.cs
  Public/Src/Pips/Dll/IPipGraph.cs
  Public/Src/Pips/Dll/PipConstructionHelper.cs
Owners: none

Fix for BuildXL hangs in temporary cleaner (#216)
  Public/Src/Engine/Scheduler/TempCleaner.cs
  Public/Src/Engine/Scheduler/Tracing/Log.cs
  Public/Src/Utilities/Native/IO/FileUtilities.cs
  Public/Src/Utilities/Native/IO/IFileUtilities.cs
  Public/Src/Utilities/Native/IO/Unix/FileUtilities.Unix.cs
  Public/Src/Utilities/Native/IO/Windows/FileUtilities.Win.cs
  Public/Src/Utilities/UnitTests/TestUtilities/TestMoveDeleteCleaner.cs
Owners: @almiliMSFT, @Kr1sso

no message
  .idea/workspace.xml
Owners: none

CODEOWNERS:

#######################################
# Feature area's
#######################################

# VsCode ide integration
/Public/Src/IDE/VsCode/*                                            @dannyvv @smera @SergeyTeplyakov

# Mac code
/Public/Src/Utilities/Native/Streams/Unix/                          @almiliMSFT @Kr1sso
/Public/Src/Utilities/Native/Processes/Unix/                        @almiliMSFT @Kr1sso
/Public/Src/Utilities/Native/IO/Unix/                               @almiliMSFT @Kr1sso
/MacOs/                                                             @almiliMSFT @Kr1sso
/Example/                                                           @almiliMSFT @Kr1sso
*Kext*                                                              @almiliMSFT @Kr1sso
*/Domino.Interop/                                                   @almiliMSFT @Kr1sso
/Public/Src/Deployment/DotNetCore/CoreDotNetTests.dsc               @almiliMSFT @Kr1sso

# Cache Code
\Public\Src\Cache\                                                  @dcwuser @JuanCarlosGI @kewilli @ljcollins25 @thpha

#######################################
#  Personal interests
#######################################

# Danny's interests
CODEOWNERS                                                          @dannyvv
/*.dsc                                                              @dannyvv
/Public/Src/FrontEnd/Sdk/                                           @dannyvv
/Public/Src/Explorer/                                               @dannyvv

# Iman's interests
/Public/Src/Utilities/Storage/ChangeTracking/FileChangeTrack*       @narasamdya
/Public/Src/Engine/Scheduler/Incremental*                           @narasamdya
/Public/Src/Engine/Scheduler/BuildSetCalculator.cs                  @narasamdya
