Repository kittinap/kunnjae, changes with the owners that CODEOWNERS names for each.
All owners: @dannyvv, @smera, @SergeyTeplyakov, @almiliMSFT, @Kr1sso, @dcwuser, @JuanCarlosGI, @kewilli, @ljcollins25, @thpha, @narasamdya

CODEOWNERS:

#######################################
# Feature area's
#######################################

# VsCode ide integration
/Public/Src/IDE/VsCode/*                                            @dannyvv @smera @SergeyTeplyakov

# Mac code
/Public/Src/Utilities/Native/Streams/Unix/                          @almiliMSFT @Kr1sso
/Public/Src/Utilities/Native/Processes/Unix/                        @almiliMSFT @Kr1sso
/Public/Src/Utilities/Native/IO/Unix/                               @almiliMSFT @Kr1sso
/MacOs/                                                             @almiliMSFT @Kr1sso
/Example/                                                           @almiliMSFT @Kr1sso
*Kext*                                                              @almiliMSFT @Kr1sso
*/Domino.Interop/                                                   @almiliMSFT @Kr1sso
/Public/Src/Deployment/DotNetCore/CoreDotNetTests.dsc               @almiliMSFT @Kr1sso

# Cache Code
\Public\Src\Cache\                                                  @dcwuser @JuanCarlosGI @kewilli @ljcollins25 @thpha

#######################################
#  Personal interests
#######################################

# Danny's interests
CODEOWNERS                                                          @dannyvv
/*.dsc                                                              @dannyvv
/Public/Src/FrontEnd/Sdk/                                           @dannyvv
/Public/Src/Explorer/                                               @dannyvv

# Iman's interests
/Public/Src/Utilities/Storage/ChangeTracking/FileChangeTrack*       @narasamdya
/Public/Src/Engine/Scheduler/Incremental*                           @narasamdya
/Public/Src/Engine/Scheduler/BuildSetCalculator.cs                  @narasamdya

New Internal LKG 0.1.0-20190426.9
  Shared/Scripts/BuildXLLkgVersion.cmd
Owners: none

Fix underbuild in incremental scheduling caused by disappearing output directory (#223)
  Public/Src/Engine/Scheduler/IncrementalScheduling/GraphAgnosticIncrementalSchedulingState.cs
  Public/Src/Engine/UnitTests/Scheduler.IntegrationTest/IncrementalSchedulingTests/GraphChangesTests.cs
Owners: @narasamdya

Include cache file existence check when materializing file (#215)
  Public/Src/Engine/Cache.Plugin.CacheCore/CacheCoreArtifactContentCache.cs
  Public/Src/Utilities/Storage/Tracing/Log.cs
  Public/Src/Utilities/Utilities/Tracing/EventId.cs
Owners: none

Handle 'rename directory' operation on macOS (#208)
  Examples/DotNetCoreBuild/sdk/Bash/bash.dsc
  Examples/DotNetCoreBuild/src/HelloWorld/hello-world.dsc
  Examples/DotNetCoreBuild/test/TestDirectories/testDirectories.dsc
  Examples/DotNetCoreBuild/test/TestFork/testFork.dsc
  Examples/DotNetCoreBuild/test/TestFrameworks/testFrameworks.dsc
  Examples/DotNetCoreBuild/test/TestHardLinks/testHardLinks.dsc
  Examples/DotNetCoreBuild/test/TestSymlink/testSymlink.dsc
  Examples/DotNetCoreBuild/validate-build.sh
  Public/Src/Engine/Processes/SandboxedProcess.MacKext.cs
  Public/Src/Engine/UnitTests/Scheduler.IntegrationTest/DirectoryRenameTests.cs
  Public/Src/Engine/UnitTests/Scheduler.IntegrationTest/SharedOpaqueDirectoryTests.cs
Owners: @almiliMSFT, @Kr1sso

Fix pip materialization issues on macOS (#202)
  Public/Src/App/Bxl/BuildXLApp.cs
  Public/Src/Engine/Cache.Plugin.CacheCore/CacheCoreArtifactContentCache.cs
  Public/Src/Engine/Cache/Artifacts/LocalDiskContentStore.cs
  Public/Src/Engine/UnitTests/FingerprintStore/FingerprintStoreTests.cs
  Public/Src/Engine/UnitTests/Processes/FileAccessExplicitReportingTest.cs
  Public/Src/Engine/UnitTests/Processes/SandboxedProcessTest.cs
  Public/Src/Engine/UnitTests/Scheduler.IntegrationTest/NonDeterminismProbeTests.cs
  Public/Src/Utilities/Instrumentation/Common/LoggingContext.cs
  Public/Src/Utilities/Native/IO/Unix/FileSystem.Unix.cs
  Public/Src/Utilities/Native/Tracing/Log.cs
Owners: @almiliMSFT, @Kr1sso
